.portfolio-item .portfolio-item-caption:hover {
    opacity: 1;
}

.portfolio-item .portfolio-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: rgba(26, 188, 156, 0.9);
}

.item-1 .item-1-caption:hover {
    opacity: 1;
}

.item-1 .item-1-caption {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    background-color: red;
}

.image-container:hover {
    opacity: 75%;
}

.image-container {
    opacity: 1;
    transition: all 0.2s ease-in-out;

}

.centered {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    background-color: red;
}

.centered:hover {
    opacity: 1;

}

img {
    display: block;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Have the Text appear on hover.*/
.image-hover:hover{
    opacity: 75%;
}

.cardListing{
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.cardListing:hover{
    opacity: 75%;
}


html,
body,
.intro {
  height: 100%;
}

.mask-custom {
  background: rgba(24, 24, 16, .2);
  border-radius: 2em;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.national-park-header{
    background-image: url(/images/assets/header_image.jpg) ;
}

.mountain-info-header{
    background-image: url(/images/assets/edited_mountain_header2.jpg);
}

body {

    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #CEDFEA;
}

.mountainBody{
    /* background-color: #679DD3; */
    background: hsla(42, 74%, 66%, 1);

    background: linear-gradient(180deg, hsla(42, 74%, 66%, 1) 0%, hsla(42, 74%, 66%, 1) 31%, hsla(292, 56%, 52%, 1) 98%);
    
    background: -moz-linear-gradient(180deg, hsla(42, 74%, 66%, 1) 0%, hsla(42, 74%, 66%, 1) 31%, hsla(292, 56%, 52%, 1) 98%);
    
    background: -webkit-linear-gradient(180deg, hsla(42, 74%, 66%, 1) 0%, hsla(42, 74%, 66%, 1) 31%, hsla(292, 56%, 52%, 1) 98%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E8C268", endColorstr="#E8C268", GradientType=1 );
}


/* .cardGradient{

background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); 

} */

.sunset-gradient{
    background: hsla(42, 80%, 52%, 1);

    background: linear-gradient(270deg, hsla(42, 80%, 52%, 1) 0%, hsla(42, 80%, 52%, 1) 55%, hsla(292, 56%, 52%, 1) 99%);
    
    background: -moz-linear-gradient(270deg, hsla(42, 80%, 52%, 1) 0%, hsla(42, 80%, 52%, 1) 55%, hsla(292, 56%, 52%, 1) 99%);
    
    background: -webkit-linear-gradient(270deg, hsla(42, 80%, 52%, 1) 0%, hsla(42, 80%, 52%, 1) 55%, hsla(292, 56%, 52%, 1) 99%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E7AD23", endColorstr="#E7AD23", GradientType=1 );
}


.sunrise-gradient{
    background: hsla(42, 80%, 52%, 1);

    background: linear-gradient(90deg, rgb(218, 177, 81)0%, hsla(42, 80%, 52%, 1) 55%, hsla(292, 56%, 52%, 1) 99%);
    
    background: -moz-linear-gradient(90deg, rgb(218, 177, 81)0%, hsla(42, 80%, 52%, 1) 55%, hsla(292, 56%, 52%, 1) 99%);
    
    background: -webkit-linear-gradient(90deg, rgb(218, 177, 81)0%, hsla(42, 80%, 52%, 1) 55%, hsla(292, 56%, 52%, 1) 99%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E7AD23", endColorstr="#E7AD23", GradientType=1 );
}


.custom-colored-button{
    background: #7bc4ce;
}

.custom-colored-button:hover{
    background: #8ce3ec;
}
